.custom-table-container {
    height: auto;
    max-height: 350px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.custom-data-grid {
    flex-grow: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: none;
}

.custom-data-grid .MuiDataGrid-columnHeaders {
    background-color: var(--color-palette-background-primary);
    color: var(--color-palette-secondary-main);
    font-weight: bold;
    border: 1px solid var(--color-palette-background-black);
    min-height: 42px !important;
    max-height: 42px !important;
}

.custom-data-grid .MuiDataGrid-cell {
    background-color: var(--color-palette-background-default);
    border: 1px solid var(--color-palette-background-border);
}

.custom-data-grid .MuiDataGrid-row {
    border-bottom: 1px solid var(--color-palette-background-border);
}

.custom-data-grid .MuiDataGrid-footerContainer {
    border-top: 1px solid var(--color-palette-background-border);
}

.MuiDataGrid-footerContainer {
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--color-palette-background-tertiary);
}

.MuiDataGrid-selectedRowCount,
.MuiTablePagination-root,
.MuiTablePagination-root .MuiSvgIcon-root {
    color: var(--color-palette-secondary-main);
}

.MuiContainer-root {
    padding-left: 0px;
    padding-right: 0px;
}

.MuiDataGrid-footerContainer {
    margin: -1px;
}

.MuiDataGrid-main {
    max-width: 1920px;
    padding: 0px 40px;
    width: 100%;
}

.DashboardMainContainer {
    max-width: 3000px;
    width: 100%;
    margin: auto;
}