.baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-style: normal;
}

.yellow-background{
    background-color: var(--color-palette-background-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

html, body, #root, .app{
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
