.baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-style: normal;
}

.blue-background{
    background-color: var(--color-palette-background-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

html, body, #root, .app{
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color-palette-background-light3);
}

.beigecardbackground{
    background-color: var(--color-palette-background-light3);
}

.TextFieldBackgroundColor{
    background-color: white !important;
}

.TextFieldBackgroundColor input:-webkit-autofill {
    background-color: white !important;
    transition: background-color 5000s ease-in-out 0s !important; /* Prevent flashing */
}

.MuiFormHelperText-root{
    margin: 0px;
    padding: 3px 0px 0px 13px;
    background-color: var(--color-palette-background-light3);
}

.copyrightText{
    margin-top: 20px;
    color:var(--color-palette-lightbeige-main);
}

.Mui-disabled{
    background-color:var(--color-palette-disabled-main) !important;
}