.topbarAppBar {
  background-color: var(--color-palette-background-secondary);
  z-index: 1201;
  height: 80px;
  overflow-x: auto;
  padding: 8px 0px;
}

.topbarMenuButton {
  margin-right: 16px;
}

.topbarLogo {
  max-height: 64px !important;
  background-size: contain;
}

.topbarMenuRight {
  margin-left: auto;
  display: flex;
}

.topbarAdminMenuRoot {
  padding: 16px;
  text-align: center;
}

.topbarAdminMenuRoot:hover {
  background-color: var(--color-palette-primary-light);
}

.topbarAdminMenuRoot:hover .MuiListItemIcon-root .MuiListItemText-primary {
  color: var(--color-palette-primary-dark);
}

.MuiMenu-paper {
  border: 1px solid var(--color-palette-background-light2);
}

.topbar-logo-button{
  background:none;
  border:none;
  cursor: pointer;
  padding: 0;
  padding-top: 2px;
}

@media screen and (max-width: 600px) {
  .topbarAppBar {
    height: 56px;
    overflow-x: auto;
  }
}
