.topbarAppBar {
  background-color: var(--color-palette-background-tertiary);
  z-index: 1201;
  overflow-x: auto;
  padding: 8px 0px;
}

.activetabstyle {
  color: var(--color-palette-background-light3) !important;
  border-bottom: 4px solid var(--color-palette-background-light3);
}

.topbarMenuButton {
  margin-right: 16px;
}

.topbarLogo {
  max-height: 64px !important;
  background-size: contain;
}

.topbarMenuRight {
  margin-left: auto;
  display: flex;
  align-items: center;
  column-gap: 20px;
  color:var(--color-palette-tertiary-main);
}

.topbarheading{
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  color: white;
}

.topbarheading:hover {
  color:var(--color-palette-background-light3);
}

.topbarAdminMenuRoot {
  padding: 16px;
  text-align: center;
}

.topbarAdminMenuRoot:hover {
  background-color: var(--color-palette-primary-light);
}

.topbarAdminMenuRoot:hover .MuiListItemIcon-root .MuiListItemText-primary {
  color: var(--color-palette-primary-dark);
}

.MuiMenu-paper {
  border: 1px solid var(--color-palette-background-light2);
}

.topbar-logo-button{
  background:none;
  border:none;
  cursor: pointer;
  padding: 0;
  display: flex;
}

@media screen and (max-width: 600px) {
  .topbarAppBar {
    overflow-x: auto;
  }
}